<p>singlepagecrud works!</p>
<!-- form -->
<div class="col-md-6">
    <!-- second type validations -->
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit(employeeForm)">
        <div class="emp-form">
            <div class="row">
                <div class="col-md-6 form-group">
                    <input placeholder="Firts Name" class="form-control" formControlName="firstName"
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                    <!-- validators start -->
                    <div *ngIf="submitted && f.firstName.errors" class="smalltext text-danger">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        <div *ngIf="f.firstName.errors.minlength">First Name can not be less than 3 characters long
                        </div>
                        <div *ngIf="f.firstName.errors.maxlength">First Name can not be more than 10 characters long
                        </div>
                    </div>
                    <!-- validators end -->
                </div>
                <div class="col-md-6 form-group">
                    <input placeholder="Last Name" class="form-control" formControlName="lastName"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                    <!-- validators start -->
                    <div *ngIf="submitted && f.lastName.errors" class="smalltext text-danger">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        <div *ngIf="f.lastName.errors.minlength">Last Name can not be less than 3 characters long
                        </div>
                        <div *ngIf="f.lastName.errors.maxlength">Last Name can not be more than 10 characters long
                        </div>
                    </div>
                    <!-- validators end -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input placeholder="Employee Code" class="form-control" formControlName="employeeCode"
                        [ngClass]="{ 'is-invalid': submitted && f.employeeCode.errors }">
                    <!-- validators start -->
                    <div *ngIf="submitted && f.employeeCode.errors" class="smalltext text-danger">
                        <div *ngIf="f.employeeCode.errors.required">Employee Code is required</div>
                    </div>
                    <!-- validators end -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <input placeholder="Address" class="form-control" formControlName="address"
                        [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                    <!-- validators start -->
                    <div *ngIf="submitted && f.address.errors" class="smalltext text-danger">
                        <div *ngIf="f.address.errors.required">Address is required</div>
                    </div>
                    <!-- validators end -->
                </div>
                <div class="col-md-6 form-group">
                    <input placeholder="Contact Number" class="form-control" formControlName="contactNumber"
                        [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }">
                    <!-- validators start -->
                    <div *ngIf="submitted && f.contactNumber.errors" class="smalltext text-danger">
                        <div *ngIf="f.contactNumber.errors.required">Contact Number is required</div>
                    </div>
                    <!-- validators end -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success btn-lg btn-block">
                        <i class="fa fa-save"></i>
                        {{message}}
                    </button>
                </div>
                <div class="col-md-4">
                    <button (click)="onReset()" class="btn btn-primary btn-lg btn-block">
                        <i class="fa fa-retweet"></i>
                        CLEAR
                    </button>
                </div>
            </div>
        </div>
    </form>
    <!-- form -->
</div>
<!-- form -->
<!-- crud list -->
<div class="col-md-6">
    <!-- Crud list -->
    <table class="table table-hover">
        <tr *ngFor="let employee of allEmployees">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.employeeCode}}</td>
            <td>
                <a class="btn"  [routerLink]="['/singlepagecrud-view', employee.id]">
                    <i class="fa fa-eye"></i>
                </a>
            </td>
            <td>
                <a class="btn" (click)="editEmployee(employee.id)">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
            <td>
                <a class="btn text-danger" (click)="deleteEmployee(employee.id)">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    </table>
</div>