<!-- <p>materialvalidation works!</p>
<button mat-button>Click me!</button>
<button mat-raised-button color=primary>Click me!</button>
<button mat-flat-button>Click me!</button>
<button mat-stroked-button>Click me!</button>
<button mat-icon-button color=warn>Click me!</button>
<button mat-fab color=warn>Click me!</button>

<h4>Basic mat-select</h4>
<form>

    <h4>native html select</h4>
    <mat-form-field>
      <mat-label>Favorite car</mat-label>
      <mat-select matNativeControl [(ngModel)]="selectedCar" name="car">
        <mat-option *ngFor="let car of cars" [value]="car.value">
          {{car.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p> Selected car: {{selectedCar}} </p>
  </form>
   -->


<!-- form -->
<div class="col-md-12 mt-5">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit(employeeForm)" autocomplete="off">
    <div class="emp-form">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName">
          </mat-form-field>
          <!-- validators start -->
          <mat-error class="pass_error"
            *ngIf="employeeForm['controls'].firstName.hasError('required') && employeeForm.controls['firstName'].touched">
            First Name is required
          </mat-error>
          <mat-error class="pass_error"
            *ngIf="employeeForm['controls'].firstName.hasError('maxlength') && employeeForm.controls['firstName'].touched">
            First Name max length10</mat-error>
          <mat-error class="pass_error"
            *ngIf="employeeForm['controls'].firstName.hasError('minlength') && employeeForm.controls['firstName'].touched">
            First Name min length 3</mat-error>
          <!-- validators end -->
        </div>
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
          <!-- validators start -->
          <mat-error class="pass_error"
            *ngIf="employeeForm['controls'].lastName.hasError('required') && employeeForm.controls['lastName'].touched">
            Last Name is required
          </mat-error>
          <mat-error class="pass_error"
            *ngIf="employeeForm['controls'].lastName.hasError('maxlength') && employeeForm.controls['lastName'].touched">
            Last Name max length10</mat-error>
          <mat-error class="pass_error"
            *ngIf="employeeForm['controls'].lastName.hasError('minlength') && employeeForm.controls['lastName'].touched">
            Last Name min length 3</mat-error>
          <!-- validators end -->
        </div>
      </div>
      <!-- email -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <!-- validators start -->
          <mat-error *ngIf="!employeeForm.controls['email'].valid && employeeForm.controls['email'].touched">
            {{ getErrorEmail() }}
          </mat-error>
          <!-- validators end -->
        </div>
      </div>
      <!-- email -->
      <!-- mobile -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <mat-label>Mobile Number</mat-label>
            <input matInput placeholder="Mobile Number" formControlName="mobile">
          </mat-form-field>
          <!-- validators start -->
          <mat-error *ngIf="!employeeForm.controls['mobile'].valid && employeeForm.controls['mobile'].touched">
            {{ getMobile() }}
          </mat-error>
          <!-- validators end -->
        </div>
      </div>
      <!-- mobile -->
      <!-- password -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password">
          </mat-form-field>
          <!-- validators start -->
          <mat-error class="pass_error"
            *ngIf="employeeForm['controls'].password.hasError('required') && employeeForm.controls['password'].touched">
            Password is required
          </mat-error>
          <mat-error class="pass_error"
            *ngIf="employeeForm['controls'].password.hasError('minlength') && employeeForm.controls['password'].touched">
            Password min length 6</mat-error>
          <!-- validators end -->
        </div>
      </div>
      <!-- password -->
      <!-- confirmpassword -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
          </mat-form-field>
          <!-- validators start -->
          <mat-error
            *ngIf="!employeeForm.controls['confirmPassword'].valid && employeeForm.controls['confirmPassword'].touched">
            {{ getConfirmPassword() }}
          </mat-error>
          <!-- validators end -->
        </div>
      </div>
      <!-- confirmpassword -->
      
      <div class="row">
        <div class="col-md-8">
          <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!employeeForm.valid">
            <i class="fa fa-save"></i>
            SAVE
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- form -->